.container{
  padding: 6px 12px;
  background-color: #fff;
  /* background-color: var(--p-container-color); */
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  gap: 8px;
}

.container > svg{
  font-size: 1.25rem;
  color: var(--p-secondary-color);
}

.inputSearch{
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
}