.container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
}

.container > span{
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--p-color);
}

.result{
  padding-left: 1rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: flex-end;
}

.normal{
  color: var(--p-primary-color);
}

.up{
 color: #d32f2f; 
}

.down{
  color: #1976d2;
}

