.container{
    padding: 8px 16px;
    width: calc(100% - var(--nav-width));
    border-bottom: thin solid var(--border-color);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    backdrop-filter: blur(8px);
    z-index: 10;
}
.container > div{
    height: 48px;
    display: flex;
    justify-content: space-between;
}
.container h1{
    font-size: 1.15rem;
}