.container{
  min-height: calc(100vh - 60px);
  width: 200px;
  border-right: 1px solid silver;
  background-color: #fff;
}

.container > ul {
  display: flex;
  flex-direction: column;
}

.li > a{
  padding: 0.5rem 1rem;
  width: 100%;
  display: inline-block;
  line-height: 1.75;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--p-color);
  
}

.active{
  background-color: var(--p-container-color);
  border-right: 4px solid var(--p-secondary-color);
}

.active > a{
  color: var(--p-secondary-color);
}