.container{
  padding: 1rem;
  min-width: 270px;
  max-width: 300px;
  background-color: var(--p-container-background);
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}