.container{
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    display: flex;
    
  }
}
.wrapper{
  background-color: var(--p-container-background);
}

.wrapper > main{
  margin: 0 auto;
  max-width: 1234px;
  width: 100%;
  flex-grow: 1;
}