.container{
  display: flex;
  flex-direction: column;
}

.wrapper{
  display: flex;
  background-color: var(--p-container-background);
}

.wrapper > main{
  margin: 0 auto;
  max-width: 1234px;
  flex-grow: 1;
}