.container {
  padding: 1rem;
  min-width: 270px;
  width: var(--width-1-3-20px);
  display: flex;
  background-color: #fff;
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoRow {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.infoRow div{
  font-weight: 700;
}

.infoRow div:first-child {
  font-size: 0.875rem;
  color: var(--p-color);
}

.infoRow div:last-child {
  font-size: 1rem;
  color: var(--p-primary-color);
}