@media (min-width: 768px) {
  .container {
    min-width: 296px;
    width: var(--width-1-3-20px);
  }
}

.container {
  padding: 1rem;
  display: flex;
  background-color: #fff;
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
}

@media (max-width: 768px) {
  .infoWrapper {
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .infoWrapper {
    gap: 20px;
  }
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .infoRow {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .infoRow {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

.infoRow div {
  font-weight: 700;
}

.infoRow div:first-child {
  font-size: 0.875rem;
  color: var(--p-color);
}

.infoRow div:last-child {
  font-size: 1rem;
  color: silver;
}

.infoData {
  color: var(--p-primary-color);
}