body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 500ms;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --nav-width: 300px;
  --header-height: 64px;
  --background:white;
  --text-primary: black;
  --text-secondary: #009675;
  --border-color: #e5eaf2
}

[data-theme='dark']{
  --background: #24292e;
  --text-primary: white;
  --text-secondary: #9c9c9c;
}

*{
	box-sizing:border-box;
}