@import "./reset.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --nav-width: 300px;
  --header-height: 64px;
  --background:white;
  --text-primary: black;
  --text-secondary: #009675;
  --border-color: #e5eaf2;
  --typography-h1: 1.5rem;
  --typography-h2: 1.25rem; 
  --typography-h3: 1.125rem;
  --typography-h4: 1rem;
  --typography-h5: 0.875rem;

  /* border */
  --border: 1px solid #e5eaf2;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, .04);
  --border-radius-rem: 0.5rem;
  --border-radius-px: 5px;

  /* p-dashboard */
  --p-primary-color: #1D192B;
  --p-color: #625B71;
  --p-secondary-color: #6750A4;
  --p-container-color: #E8DEF8;
  --p-container-background: #f8f8f8;
  --p-alert-color: #B3261E;

  /*  */
  --width-1-3-20px: calc((100% - 20px)/3);
}

[data-theme='dark']{
  --background: #24292e;
  --text-primary: white;
  --text-secondary: #9c9c9c;
}

*{
	box-sizing:border-box;
}

#root{
  min-height: 100vh;
}

.v-comp{
  display: flex;
  flex-direction: column;
}

.h-comp{
  display: flex;
}

.common__container{
  padding: 0.5rem;
  background-color: #fff;
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
}

.trend__chart__container{
  padding: 0.5rem;
  background-color: #fff;
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
}

.trend__chart__container h3{
  font-size: var(--typography-h3);
  font-weight: 700;
  margin-bottom: 1rem;
}

.trend__chart__wrapper{
  height: 200px;
}