.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.btnGroup{
  display: flex;
  gap: 8px;
}

.refresh{
  padding: 6px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.refresh:hover{
  background-color: var(--p-container-color);
}

.refresh > svg{
  width: 1.25rem;
  height: 1.25rem;
  color: var(--p-secondary-color);
}

.refresh > span{
  padding: 0 0.5rem;
  font-size: 1rem;
  color: var(--p-secondary-color);
}

.summary{
  display: flex;
  gap: 20px;
}

.main{
  padding: 0.5rem;
}

.overview{
  min-height: 300px;
  background-color: #fff;
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
}