.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.btnGroup{
  display: flex;
  gap: 8px;
}

@media (max-width: 1200px) {
  .iconBox{
    padding: 6px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: var(--border);
    border-radius: var(--border-radius-rem);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    user-select: none;
  }
}

@media (min-width: 1200px) {
  .iconBox{
    display: none;
  }
}

.iconBox:hover{
  background-color: var(--p-container-color);
}

.iconBox > svg{
  width: 1.25rem;
  height: 1.25rem;
  color: var(--p-secondary-color);
}

@media (max-width: 768px) {
  .iconBox>span{
    display: none;
  }
}

@media (min-width: 768px) {
  .iconBox > span{
    text-transform: capitalize;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: var(--p-secondary-color);
  }  
}

@media (max-width: 1200px){
  .summary >div{
    flex-grow: 1;
  }
}

@media (min-width: 1200px) {
  
}

.summary{
  display: flex;
  gap: 20px;
}

/* .main{
  padding: 0.5rem;
} */

.overview{
  min-height: 300px;
  background-color: #fff;
  border: var(--border);
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
}

.modalCalendar{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(107, 122, 144, 0.2);
  transition: opacity 100ms ease 0s;
}

.modalCalendar>div{
  margin: 60px auto auto;
  width: 400px;
  height: 300px;
  box-shadow: rgba(67, 77, 91, 0.2) 0px 4px 20px;
  border: var(--border);
  border-radius: var(--border-radius-rem);
  background-color: #fff;
  position: relative;
  overflow: hidden;
}