@media(min-width: 1200px) {
    .container{
        flex-shrink: 0;
    }
}

.container{
    width: var(--nav-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text-primary);
    transition: all 500ms;
    position: fixed;
    top: 0;
    left: 0;
}

.container hr{
    margin: 0;
    flex-shrink: 0;
    border: 0;
    border-bottom: thin solid var(--border-color);    
}

.navHeader{
    padding: 12px 16px;
    height: var(--header-height);
    flex-shrink: 0;
}

.navBox{
    padding-top: 4px;
    padding-bottom: 40px;
    overflow-y: auto;
    flex-grow: 1;
    border: 1px solid var(--border-color);
    border-top: 0;
}

.ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.li{
    padding: 8px 10px 0;
    display: block;
}

.li a{
    padding: 6px 6px 6px 2px;
    margin: 0;
    width: 100%;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
}
.li a:hover{
    background-color: rgb(243, 246, 249);
}