.container {
  border-bottom: 1px solid silver;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container>a {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--p-color);
}

.container>a>span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
  text-transform: capitalize;
}

.tabClass {
  font-weight: 700;
  border-bottom: 4px solid var(--p-secondary-color);
}

.tabClass >span{
  color: var(--p-secondary-color);
}