.container{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  width: 300px;
  background-color: #6870cb;
  border-radius: var(--border-radius-rem);
  box-shadow: var(--box-shadow);
}

.container > h2{
  margin-bottom: 1rem;
  font-size: var(--typography-h2);
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
}

.container > h3 {
  margin-bottom: 1rem;
  font-size: var(--typography-h3);
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.form > input{
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
}

.form > button{
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: var(--border-radius-rem);
  cursor: pointer;
}

.form > button:hover{
  background-color: #7ba2fe;
}