.container{
    min-height: 100vh;
    display: flex;
    background-color: var(--background);
    color: var(--text-primary);
    transition: all .5s;
}

.wrapper{
    padding-left: var(--nav-width);
    width: 100%;
    display: flex;
}
/* @media(min-width: 1200px) {
    
} */

.page{
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding-top: calc(var(--header-height) + 32px);
    position: relative;
    max-width: 105ch;
}